.statisticsContainer {
    padding: 16px;
}

.viewControl {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
}

.summaryRow {
    margin-bottom: 16px;
}

.summaryCard {
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; */
}

.siteCards {
    /* margin: 8px; */
    padding: 8px;
}

.siteCard {
    height: 100%;
    transition: all 0.3s;
    /* margin: 28px; */
    /* margin-bottom: 8px; */
}

.siteCard:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.siteContent {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
}

.updateTime {
    margin-top: 12px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    text-align: right;
}

.statisticValue :global(.ant-statistic-content) {
    font-size: 12px !important;
}

.statisticValue :global(.ant-statistic-title) {
    font-size: 10px !important;
}

.siteTable {
    /* background: white; */
    border-radius: 8px;
}

.siteTable :global(.ant-table-thead > tr > th) {
    background: #fafafa;
    font-weight: 600;
}

.siteTable :global(.ant-table-tbody > tr ) {
    padding: 12px 16px;
}

.siteTable :global(.ant-table-tbody > tr:hover) {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* 图表相关样式 */
.chartContainer {
    background: #fafafa;
    padding: 24px;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); */
}

.chartContent {
    width: 100%;
    /* height: 500px; */
    background: #fff;
    border-radius: 4px;
    margin-top: 24px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.blockChartContent {
    margin-top: 24px;
}

.chartControls {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

/* 图表控件样式 */
.timeRangeGroup {
    /* margin: 12px; */
    min-width: 120px;
}

.metricSelect {
    /* margin-right: 16px; */
    min-width: 120px;
}

.metricSelect :global(.ant-segmented-item) {
    min-width: 100px;
    text-align: center;
}

.siteSelectContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.siteSelect {
    min-width: 500px;
}

/* 下拉选项的样式 */
.siteSelect :global(.ant-select-selection-item) {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* 图表图例样式 */
:global(.g2-legend) {
    padding: 8px;
    border-radius: 4px;
    /* background-color: rgba(255, 255, 255, 0.95); */
}

:global(.g2-legend-item) {
    margin: 0 8px;
    cursor: pointer;
}

/* 图表提示框样式 */
:global(.g2-tooltip) {
    /* background-color: rgba(255, 255, 255, 0.95); */
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}



/* 热力图容器样式 */
.blockchartContent {
    margin: 20px 0;
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* 热力图响应式调整 */
:global(.react-calendar-heatmap) {
    height: auto;
    width: 100%;
    /* margin: 24px 0; */
    padding: 24px;
    /* background-color: #faddfa; */
}

/* 热力图颜色定义 */
:global(.react-calendar-heatmap) {
    .color-empty { 
        fill: #ebedf0;
    }
    .color-github-1 { 
        fill: #9be9a8;
    }
    .color-github-2 { 
        fill: #40c463;
    }
    .color-github-3 { 
        fill: #30a14e;
    }
    .color-github-4 { 
        fill: #216e39;
    }
}

:global(.react-calendar-heatmap .react-calendar-heatmap-all-weeks) {
    scale: 0.98;
    transform-origin: center center;
}

/* 为所有方块添加圆角 */
:global(.react-calendar-heatmap rect) {
    transition: all 0.2s ease;
    stroke: rgba(0, 0, 0, 0.05);
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
    rx: 2;
    ry: 2;
    /* transform: translateY(-1px); */
    /* padding: 2px; */
}
/* 调整所有文本大小 */
:global(.react-calendar-heatmap text) {
    font-size: 8px;
    fill: #767676;
}

/* 调整月份标签大小 */
:global(.react-calendar-heatmap .react-calendar-heatmap-month-label) {
    font-size: 5px;
    font-style: italic;
    fill: #767676;
    scale: 0.98;
    transform: translateY(-2px);
}

/* 调整星期标签大小 */
:global(.react-calendar-heatmap .react-calendar-heatmap-weekday-label) {
    font-size: 6px;
    fill: #767676;
}

/* 方块悬停效果 */
:global(.react-calendar-heatmap rect:hover) {
    /* stroke: #555; */
    stroke-width: 1px;
    stroke-opacity: 0.5;
    transform: scale(1.02);
    transition: all 0.2s ease;
    transform-origin: left center;
    /* fill: #35fdb4; */
}


