**__pycache__
.venv
.vscode
node_modules

# Environment variables
.env
.env.*
!.env.example

crawler/storage/*
crawler/*.png
crawler/debug/*.png

crawler_py/*.png
crawler_py/.venv
crawler_py/.vscode
crawler_py/storage
crawler_py/logs
crawler_py/config/credentials.json
backend/logs
logs
backend/ptlinker.db
