**__pycache__
.venv
.vscode
node_modules

# Environment variables
.env
.env.*
!.env.example


logs
app/services/sites/credentials/credentials.json
app/storage/
app/ptlinker.db
app/ptlinker.db-shm
app/ptlinker.db-wal
