# Web Framework
fastapi
uvicorn

# Core
crawlee
playwright
pydantic
pydantic-settings
loguru
python-dotenv

# Database
sqlalchemy
aiosqlite
alembic

# Utils
tenacity
aiohttp
pillow
PyYAML

# Captcha
tesseract
2captcha-python
ddddocr

# Web Scraping
DrissionPage
requests
beautifulsoup4
lxml

# Testing
pytest
pytest-asyncio

# CORS
fastapi-cors